body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

label {
    grid-column: span 2;
}

input, textarea {
    grid-column: span 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    grid-column: span 2;
}

button {
    grid-column: span 2;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-question{
    background-color:black ;
}
.text-center {
    text-align: center;
  }
  
  .carousel-inner {
    padding: 20px;
  }
  
  .carousel-item i {
    margin-bottom: 15px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #000; /* Dark color for the controls */
    border-radius: 50%;
  }